#dynastra-welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.5vw;
  padding-right: 1.5vw;
  min-height: 120vh;
  padding-left: 1.3em;

  #dynastra-build-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
