<div id="dynastra-tabletop-login-error">  
    <h1>Whoops!</h1>
    <div>It looks like there's a problem with the configuration of the authentication provider, we received an error when trying to redirect.</div>
</div>