<form [formGroup]="editForm" class="dynastra-role-playing-games-list-edit-item-form">
  <mat-form-field appearance="fill">
    <mat-label>Name of game</mat-label>
    <input id="name-input" matInput formControlName="name">
    <mat-error *ngIf="name.errors?.['required'] && (name.dirty || name.touched)">This field is required</mat-error>
    <mat-error *ngIf="name.errors?.['minlength']">The name must be at least 4 characters long</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description of the game you're creating.</mat-label>
    <textarea id="description-textarea" matInput formControlName="description"></textarea>
    <mat-error *ngIf="description.errors?.['required'] && (description.dirty || description.touched)">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Image URL</mat-label>
    <input id="image-url-input" matInput formControlName="imageURL">
    <mat-error *ngIf="imageURL.errors?.['required'] && (imageURL.dirty || imageURL.touched)">This field is required</mat-error>
    <mat-error *ngIf="imageURL.errors?.['pattern']">The image provided isn't a URL.</mat-error>
  </mat-form-field>
</form>
