.dynastra-character-display-item {
  max-width: 20vw;

  .character-image-container {
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    .character-image {
      object-fit: cover;
      overflow: hidden;
    }
  }

  .character-about {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-height: 25vh;
    max-width: 25vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
  }
  .title {
    display: flex;
    justify-content: space-between;

    .title-text {
      padding-top: 0.33em;
    }
  }
}
