<mat-card class="dynastra-character-display-item">
  <mat-card-title class="title">
    <div class="title-text">
      {{Character?.CharacterName}}
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>Placeholder</mat-chip>
    </mat-chip-list>
  </mat-card-subtitle>

  <mat-card-content class="character-about">
    <div class="character-image-container">
      <img class="character-image" [src]="Character?.CharacterImgUrl" />
    </div>
    <div class="about">
      {{Character?.CharacterAbout}}
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button [routerLink]="['/characters', Character?.Id]">VIEW</button>
  </mat-card-actions>
</mat-card>
