<div id="dynastra-user-dashboard">
  <div id="dynastra-user-dashboard-heading">
    <div id="dynastra-user-dashboard-heading-upper">
      Hello there, <span>{{LoggedInUserName}}</span>!
    </div>
    <div id="dynastra-user-dashboard-heading-lower">
      <h1>My Dashboard</h1>
    </div>
  </div>
  <div id="dynastra-user-dashboard-actions">
    <div class="dynastra-user-dashboard-action">
      <h2 class="action-title">My Profile</h2>
      <img class="action-image" src="assets/roleplayingicons/role-playing-profile-eye.png" />
      <div class="action-description">
        You can manage your profile here. Clicking this link will redirect you to an
        external page.
      </div>
      <a mat-stroked-button color="primary" [href]="RedirectURL">
        <mat-icon aria-hidden="false" aria-label="Example home icon">open_in_new</mat-icon>
        View my profile
      </a>
    </div>
    <div class="dynastra-user-dashboard-action">
      <h2 class="action-title">My Characters</h2>
      <img class="action-image" src="assets/roleplayingicons/role-playing-avatar.png" />
      <div class="action-description">
        You can manage your characters here. These will be used in games you play.
      </div>
      <button mat-stroked-button color="primary" routerLink="my-characters">Manage my characters</button>
    </div>
  </div>
</div>
