#dynastra-user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.5vw;
  padding-right: 1.5vw;
  min-height: 80vh;
  padding-left: 1.3em;

  #dynastra-user-dashboard-heading {
    display: flex;
    flex-direction: column;
    gap: 0.4vh;

    #dynastra-user-dashboard-heading-lower {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.5em;

      h1.sub::before {
        content: '>';
        color: #dddddd;
      }

      a {
        text-decoration: none;
        color: #000000;
      }

    }

  }

  #dynastra-user-dashboard-actions {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}

.dynastra-user-dashboard-action {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  border-radius: 5px;
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  padding: 1em;
  gap: 1em;
  object-fit: contain;
  img.action-image {
    margin-left: 25%;
    width: 50%;
  }
}
