#dynastra-tabletop-oidc-awaiting {
    position: absolute;
    top: 24%;
    left: 24%;
    border-radius: 3em;
    background-color: #ddd;
    width: 50vw;
    height: 50vh;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

#dynastra-tabletop-oidc-awaiting-loader {
    padding-left: 43%;
}

.mat-progress-spinner {
    width: 20vw;
}

