<div id="dynastra-tabletop-oidc-awaiting">  
    <div id="dynastra-tabletop-oidc-awaiting-loader">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <h1>Waiting for redirect..</h1>
</div>