<form id="dynastra-role-playing-games-search">
  <mat-form-field id="dynastra-role-playing-games-search-input" appearance="fill">
    <mat-label>Search for games</mat-label>
    <input matInput #message maxlength="256" placeholder="Search for games">
  </mat-form-field>
</form>
