<mat-toolbar id="dynastra-header-toolbar">
    <div id="dynastra-header-logo-title-nav">
      <span id="dynastra-header-logo-title">Dynastra Tabletop</span>
      <div id="dynastra-header-navigation">
        <button mat-button routerLink=""><i class="ra ra-fairy ra-lg"></i> Home</button>
        <button mat-button routerLink="role-playing-games"><i class="ra ra-fairy-wand ra-lg"></i> Role-playing games</button>
      </div>
    </div>
    <app-quick-login-display></app-quick-login-display>
</mat-toolbar>
