#dynastra-header-toolbar {
  display:flex;
  justify-content: space-between;
  background: #FFFFFF;  /* fallback for old browsers */
  box-shadow: 0 0 15px 0 rgba(245, 40, 145, 1);
  #dynastra-header-logo-title-nav {
    display: flex;
    justify-content: flex-start;
    gap: 4em;
  }

}
