.dynastra-board-actions-asset {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;

  .image {
    width: 5em;
    height: 5em;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
