.dynastra-component-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 40%;
  top: 40%;
  .image {

    img {
      padding-left: 5vh;
      width: 15vh;
      height: 15vh;
    }
  }
  .status-text {
    padding-top: 1em;
    font-style: italic;
  }

}
