<div class="dynastra-component-status">
  <div class="image">
    <img [src]="ImageURL" />
  </div>
  <div class="status-text">
    {{StatusDisplayText}}
  </div>
  <button mat-flat-button (click)="ActionClicked()">
    {{ActionButtonText}}
  </button>
</div>
