div.dynastra-dice-roll-container {
  margin-top: 1em;
  width: 98%;
  .metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;

    .character-name {
      font-weight: bold;
    }
  }

  div.dynastra-dice-roll {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
    border-radius: 0.2em;
    padding: 1em;

    div.result-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 1em;
      padding-bottom: 1em;

      div.roll-title {
        display: flex;
        flex-direction: column;

        h3 {
          font-weight: bold;
        }

        h3, h4 {
          padding: 0;
          margin: 0;
        }
      }

      div.result-header-dice {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.2em;
        padding-left: 1em;
        padding-bottom: 1em;
        div.rolls {
          padding-top: 0.6em;
          i {
            font-size: 1.8em;
          }
        }
      }

    }

    div.result-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 0.2em;
      div.result-display {
        font-size: 2em;
        text-align: center;
      }

      div.roll {
        font-size: 1em;
        font-style: italic;
        text-align: center;
      }
    }
  }
}
