<div class="dynastra-dice-roll-container">
  <div class="metadata">
    <div class="datetime">
      {{RollResult.dateRolled | date:'shortTime' }}
    </div>
    <div class="character-name">Not implemented yet</div>
  </div>
  <div class="dynastra-dice-roll">
    <div class="result-header">
      <div class="roll-title" *ngIf="RollResult.title || RollResult.subTitle">
        <h3 class="roll-title-result" *ngIf="RollResult.title">{{RollResult.title}}</h3>
        <h4 class="roll-title-subtitle" *ngIf="RollResult.subTitle">{{RollResult.subTitle}}</h4>
      </div>
      <div class="result-header-dice">
        <div class="rolls" *ngFor="let resultItem of result" mat-raised-button color="primary" matBadgePosition="before" matBadgeColor="accent">
          <i [class]="resultItem.className"></i>
        </div>
      </div>
    </div>
    <div class="result-body">
      <div class="result-display">
        {{RollResultDisplay}}
      </div>
      <div class="roll">
        {{RollResult.requestedRoll}}
      </div>
    </div>
    <div class="result-footer">

    </div>
  </div>
</div>

