.game-board-upload-modal {
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;

    img {
      max-height: 20vh;
      object-fit: cover;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .game-board-upload-modal-uploader {
      padding-top: 3vw;
      padding-left: 3vw;
    }
  }
}
