<div class="game-board-upload-modal">
  <div *ngIf="Stage == 0">
    <h1>Choose a file</h1>
    <div>Choose a file you want to upload. <br /> Supported file extensions: {{UsableFileExtensionsAsString}}</div>
    <div class="game-board-upload-modal-uploader">
      <ngx-awesome-uploader
          (uploadFail)="OnFileUploadError()"
          (uploadSuccess)="OnFileUploaded($event)"
          (fileAdded)="OnValidationSuccess()"
          (validationError)="OnValidationError()"
          [uploadType]="'single'"
          [adapter]="adapter"
          [fileMaxCount]="1"
          [fileExtensions]="UsableFileExtensions"
        ></ngx-awesome-uploader>
      </div>
      <div *ngIf="IsInvalidExtension">
        The file uploaded is invalid. Supported file extensions are: {{UsableFileExtensions}}
      </div>
  </div>
  <div *ngIf="Stage == 1">
    <h1>Adding new game asset</h1>
    <img [src]="ImagePreviewURL" />
    <form [formGroup]="metadataForm" (ngSubmit)="handleCreate()" id="game-board-upload-modal-form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="title" id="game-board-upload-name">
        <mat-error *ngIf="title.errors?.['required'] && (title.dirty || title.touched)">This field is required</mat-error>
        <mat-error *ngIf="title.errors?.['minlength']">The name must be at least 4 characters long</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" id="game-board-upload-name">
        <mat-error *ngIf="description.errors?.['required'] && (description.dirty || description.touched)">This field is required</mat-error>
        <mat-error *ngIf="description.errors?.['minlength']">The name must be at least 4 characters long</mat-error>
      </mat-form-field>
    </form>
    <div class="modal-footer">
      <button
        id="modal-action-create"
        mat-raised-button
        color="primary"
        [disabled]="!metadataForm.valid || IsLoading"
        (click)="handleCreate()">
        Create new game asset
      </button>
      <div id="modal-load" *ngIf="IsLoading">
        <mat-spinner diameter="30" *ngIf="IsLoading"></mat-spinner>
      </div>
    </div>
  </div>
</div>
