<div id="dynastra-role-playing-games">
  <div id="dynastra-role-playing-games-view-fab-actions">
    <div class="dynastra-role-playing-games-fab-action-wrapper">
      <button mat-fab (click)="clickCreateGame()" aria-label="Example icon button with a heart icon">
        <mat-icon>create</mat-icon>
      </button>
      <div class="dynastra-role-playing-games-fab-action-wrapper-name">
        Create game
      </div>
    </div>
  </div>
  <div id="dynastra-role-playing-games-view-main">
    <div id="dynastra-role-playing-games-view-main-content-controls">
      <div id="dynastra-role-playing-games-search-container">
        <app-role-playing-games-search></app-role-playing-games-search>
      </div>
      <div id="dynastra-role-playing-games-view-main-content-control-display-type">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="center" aria-label="Text align center" checked="true" disabled>
            <mat-icon>grid_view</mat-icon>
            Grid
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div id="dynastra-role-playing-games-view-main-content">
      <app-role-playing-games-list-display
          *ngIf="!IsLoading"
          [LoadingGames]="LoadingGames"
          [RolePlayingGames]="RolePlayingGames"
          (displayItemsChanged)="onDisplayItemsChanged($event)"
      >
      </app-role-playing-games-list-display>
      <div id="dynastra-role-playing-games-loading" *ngIf="IsLoading">
        <mat-spinner mode="indeterminate"></mat-spinner>
        <div id="loading-text">Looking for games..</div>
      </div>
    </div>
  </div>

</div>

