#dynastra-role-playing-games-view-main {
    display: flex;
    flex-direction: column;
    padding-top: 1.5vw;
    padding-right: 1.5vw;
    min-height: 60vh;
}
#dynastra-role-playing-games-view-main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}
#dynastra-role-playing-games-search-container {
  width: 78%;
}

#dynastra-role-playing-games-view-main-content-controls {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
}

.dynastra-role-playing-games-fab-action-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3em;

  .dynastra-role-playing-games-fab-action-wrapper-name {
    font-size: 1rem;
    margin-top: 1.3em;
  }
}


#dynastra-role-playing-games-view-fab-actions {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 5%;
  right: 5%;
  z-index: 999;
  height: 50vh;
}
#dynastra-role-playing-games-loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
  align-items: center;
}


