#dynastra-user-characters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.5vw;
  padding-right: 1.5vw;
  min-height: 80vh;
  padding-left: 1.3em;

  #dynastra-user-characters-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

  }
}

.dynastra-character-fab-action-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3em;

  .dynastra-character-fab-action-wrapper-name {
    font-size: 1rem;
    margin-top: 1.3em;
  }
}

#dynastra-character-view-fab-actions {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 5%;
  right: 5%;
  z-index: 999;
  height: 50vh;
}
