<div id="dynastra-user-characters">
  <div id="dynastra-character-view-fab-actions">
    <div class="dynastra-character-fab-action-wrapper">
      <button mat-fab aria-label="Example icon button with a heart icon" [routerLink]="['/me/create-character']">
        <mat-icon>create</mat-icon>
      </button>
      <div class="dynastra-character-fab-action-wrapper-name">
        Create character
      </div>
    </div>
  </div>

  <div id="dynastra-user-characters-header">
    <h1>My characters</h1>
  </div>
  <div id="dynastra-user-characters-content" *ngIf="AnyCharsFoundAfterLoad">
      <app-user-character-display
        *ngFor="let Character of Characters"
        [Character]="Character"></app-user-character-display>
  </div>
  <app-component-status-display *ngIf="!AnyCharsFoundAfterLoad"
                                ImageURL="assets/roleplayingicons/unicorn-question.png"
                                StatusDisplayText="No characters have been created yet! Create one!"
  >
  </app-component-status-display>
</div>
