<div id="dynastra-logged-in-user-display">
    <div id="dynastra-logged-in-user-display-wrapper">
        <div id="dynastra-logged-in-user-display-avatar">
            <img
                ngxGravatar
                [email]="EmailAddress"
            />
        </div>
        <div id="dynastra-logged-in-user-display-name">
            <a id="dynastra-logged-in-user-display-name-link" routerLink="me">{{Username}}</a>
        </div>
        <button mat-icon-button id="dynastra-logged-in-user-menu-opener" [matMenuTriggerFor]="menu" #menuTrigger='matMenuTrigger'>
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <mat-menu #menu="matMenu" yPosition="below" id="dynastra-logged-in-user-display-menu">
      <a mat-menu-item id="dynastra-logged-in-user-view-dashboard"  routerLink="me">
        <mat-icon>dashboard</mat-icon>
        My dashboard
      </a>
      <a mat-menu-item id="dynastra-logged-in-user-view-characters"  routerLink="me/my-characters">
        <mat-icon>manage_accounts</mat-icon>
        My Characters
      </a>
      <a mat-menu-item id="dynastra-logged-in-user-menu-view-profile" [href]="RedirectURL">
            <mat-icon>person</mat-icon>
            My profile
        </a>
        <button mat-menu-item id="dynastra-logged-in-user-menu-logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Log out
        </button>
    </mat-menu>
</div>
