#dynastra-logged-in-user-display {
    height: 56px;
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
    border: none;

    #dynastra-logged-in-user-display-wrapper {
        border: none;
        display: flex;
        justify-content: space-between;

        padding-top: 0.3em;
        align-content: center;
        border-radius: 2em;

        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;

        div#dynastra-logged-in-user-display-avatar {
            margin-left: 0.4em;
            margin-right: 1em;
        }

        div#dynastra-logged-in-user-display-name {
            text-align: center;
            font-size: 0.7em;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            text-align: center;
            margin-top: 0.40em;
            margin-right: 2em;
            margin-left: 1vw;
            max-width: 200px;
            white-space: nowrap;

            a {
                text-decoration: none;
                color: #000;
            }

        }
    }
    #dynastra-logged-in-user-actions-wrapper {
        display: flex;
        gap: 1em;
        padding-top: 0.3em;
    }

    #dynastra-logged-in-user-display-wrapper:hover {
        background-color: #eee;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }
}
#dynastra-logged-in-user-display-menu-logged-in-user {
    display: flex;
}
.mat-menu-content {
    width: 500px !important;
}

@keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.11s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }