<div id="dynastra-game-board-actions-config">
  <mat-expansion-panel id="actions-config-panel" expanded="false">
    <mat-expansion-panel-header id="panel-header">
      <mat-panel-title id="panel-title">
        <mat-icon>settings</mat-icon>
        <div id="panel-title-text">Board configuration</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div id="actions-config-panel-content" matExpansionPanelContent>
      <form [formGroup]="BoardConfigForm">
        <mat-form-field appearance="fill">
          <mat-label>Grid line colour</mat-label>
          <input matInput formControlName="gridLineColor">
          <mat-error *ngIf="gridLineColor?.invalid">The colour must be a valid hexadecimal value.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Grid line style</mat-label>
          <mat-select formControlName="gridLineStyle">
            <mat-option value="solid">Solid</mat-option>
            <mat-option value="dotted">Dotted</mat-option>
            <mat-option value="dashed">Dashed</mat-option>
          </mat-select>
          <mat-error *ngIf="gridLineStyle?.invalid">Please select a value.</mat-error>
        </mat-form-field>

        <div class="actions-config-panel-line-width">
          <mat-label>Grid line width</mat-label>
          <mat-slider
            formControlName="gridLineWidth"
            class="example-margin"
            [disabled]="false"
            [invert]="false"
            [max]="15"
            [min]="1"
            [step]="1"
            [thumbLabel]="'pixels'"
            [vertical]="false"
          ></mat-slider>
        </div>
      </form>
    </div>
    <mat-action-row>
      <button id="game-board-actions-actions-config-save-button" mat-button color="secondary" (click)="UpdateBoardConfiguration()" [disabled]="BoardConfigForm?.invalid">
        <mat-icon>save</mat-icon> Save
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
