#dynastra-game-board-actions-config {
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 28vw;

  #actions-config-panel {
    display: flex;
    flex-direction: column;
    background-color: #C21F39;
    font-size: 3em;

    #actions-config-panel-content form {
      padding: 1vh;
      height: 35vh;
      max-height: 35vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #ffffff;
    }

    #roll-log-panel {
      height: 100%;
    }

    mat-action-row {
      font-size: 1.5em;
      background-color: #ffffff;
    }
  }
}

#panel-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #f3dadd;
  display: flex;
  justify-content: flex-start;

  div#panel-title-text {
    padding-left: 1em;
    padding-top: 0.1em;
  }
}

.actions-config-panel-line-width {
  display: flex;
  flex-direction: column;
}
