.dynastra-role-playing-games-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px !important;
  min-width: 20vw;
  max-width: 26vw;

  .dynastra-role-playing-games-list-item-header {
    padding-top: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3em;
  }

  .dynastra-role-playing-games-list-item-content {
    overflow: hidden;
  }

  .dynastra-role-playing-games-list-item-action {
    padding-right: 1em;
    padding-bottom: 0.5em;
  }
}
