<mat-card class="dynastra-role-playing-games-list-item" [ngSwitch]="DisplayMode">
  <mat-card-header class="dynastra-role-playing-games-list-item-header">
    <mat-card-title>{{RolePlayingGame.Name}}</mat-card-title>
    <mat-card-subtitle>Created by: {{RolePlayingGame.CreatedByUser}}</mat-card-subtitle>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More actions to perform for this game">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="modeChangeRequest(EDIT_MODE)" *ngIf="DisplayMode !== EDIT_MODE">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onRequestDelete($event)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content class="dynastra-role-playing-games-list-item-content">
    <app-role-playing-games-list-display-item
      *ngSwitchCase="DISPLAY_MODE"
      [RolePlayingGame]="RolePlayingGame"
    >
    </app-role-playing-games-list-display-item>
    <app-role-playing-games-list-edit-item
      *ngSwitchCase="EDIT_MODE"
      [RolePlayingGame]="RolePlayingGame"
      (RolePlayingGameUpdated)="onRolePlayingGameUpdated($event)"
    ></app-role-playing-games-list-edit-item>
  </mat-card-content>
  <mat-card-actions class="dynastra-role-playing-games-list-item-action" align="end">
    <button id="view-button" *ngIf="DisplayMode == DISPLAY_MODE && IsCurrentUserInGame" mat-button [routerLink]="['/game', this.RolePlayingGame.Id]">VIEW</button>
    <button id="join-button" *ngIf="DisplayMode == DISPLAY_MODE && !IsCurrentUserInGame" mat-button (click)="onRequestJoin($event)">JOIN</button>
    <button id="cancel-button" *ngIf="DisplayMode == EDIT_MODE" mat-button (click)="modeChangeRequest(DISPLAY_MODE)">CANCEL</button>
    <button id="save-button" *ngIf="DisplayMode == EDIT_MODE" mat-button (click)="onSaveEditedItem($event)">SAVE</button>
  </mat-card-actions>
</mat-card>

