<div id="dynastra-logged-out-user-display" (click)="login()">
    <div id="dynastra-logged-out-user-display-wrapper">
        <div id="dynastra-logged-out-user-display-avatar">
            <img
                ngxGravatar
            />
        </div>
        <div id="dynastra-logged-out-user-display-name">
            Not logged in
        </div>
        <button mat-icon-button id="dynastra-logged-out-user-display-logout" (click)="login()">
            <mat-icon>login</mat-icon>
        </button>
    </div>
</div>