#dynastra-role-playing-games-create-modal-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#dynastra-role-playing-games-list-display-image {
  min-height: 10vh;
}

#dynastra-role-playing-games-create-modal {
  min-height: 40vh;
  min-width: 40vw;
  max-width: 40vw;

  #modal-header h2 {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #modal-image-preview {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    height: 20vh;
    align-content: stretch;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 0.3em;
    }
  }

  #modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 2em;

    #modal-load {
      display: flex;
      justify-content: space-around;
      gap: 2em;
    }
  }
}
#modal-action-create span.mat-button-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.dynastra-role-playing-games-list-display-item-header {
    display: flex;
    justify-content: space-between;
}
