<div id="dynastra-role-playing-games-create-modal">
  <div id="modal-header">
    <h1>Create new game</h1>
  </div>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Basic Information">
      <div id="modal-image-preview">
        <img *ngIf="hasValidImagePopulated" [src]="imagePreviewURL" />
      </div>
      <form [formGroup]="createModalForm" (ngSubmit)="handleCreate()" id="dynastra-role-playing-games-create-modal-form">
        <mat-form-field appearance="fill">
          <mat-label>Name of game</mat-label>
          <input matInput formControlName="name" id="role-playing-game-name">
          <mat-error *ngIf="name.errors?.['required'] && (name.dirty || name.touched)">This field is required</mat-error>
          <mat-error *ngIf="name.errors?.['minlength']">The name must be at least 4 characters long</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description of the game you're creating.</mat-label>
          <textarea matInput formControlName="description" id="role-playing-game-description"></textarea>
          <mat-error *ngIf="description.errors?.['required'] && (description.dirty || description.touched)">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="imageURL" id="role-playing-game-imageUrl">
          <mat-error *ngIf="imageURL.errors?.['required'] && (imageURL.dirty || imageURL.touched)">This field is required</mat-error>
          <mat-error *ngIf="imageURL.errors?.['pattern']">The image provided isn't a URL.</mat-error>
        </mat-form-field>
      </form>
      <div id="modal-actions">
        <button
          id="modal-action-create"
          mat-raised-button
          color="primary"
          [disabled]="!createModalForm.valid || isLoading"
          (click)="handleCreate()">
          {{buttonActionText}}
        </button>
        <div id="modal-load" *ngIf="isLoading">
          <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

