<div id="dynastra-role-playing-games-list-display">
  <div id="dynastra-role-playing-games-list-display-content" *ngIf="hasHydratedGames && !isLoading">
    <app-role-playing-games-list-item
      *ngFor="let game of RolePlayingGames"
      [RolePlayingGame]="game"
      [LoggedInUserId]="loggedInUserId"
      (OnDelete)="onRequestDelete($event)"
      (OnEdit)="onRequestEdit($event)"
      (OnJoin)="onRequestJoin($event)"
    >
    </app-role-playing-games-list-item>
  </div>
  <app-component-status-display *ngIf="noGamesFound"
    ImageURL="assets/roleplayingicons/unicorn-question.png"
    StatusDisplayText="No games have been created yet! Create one!"
  >
  </app-component-status-display>
</div>
