#dynastra-role-playing-games-list-display, #dynastra-role-playing-games-list-display-content {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  padding-left: 0.75em;
  padding-bottom: 10%;
}

#dynastra-role-playing-games-no-games-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
