#dynastra-game-board-quick-roll-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  height: 8vh;

  div#background-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #ffffff;
    max-width: 20%;
    border-radius: 0em 1em 1em 0em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    div#roll-buttons {
      background-color: #FFFFFF;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1em;
      .quick-roll {
        display: flex;
        flex-direction: column;
        gap: 1em;

        i {
          font-size: 2.5em;
        }

        p {
          text-align: center;
        }
      }
    }
  }

}
