<div id="dynastra-game-board-quick-roll-container">
  <div id="background-container">
    <div id="roll-buttons" *ngIf="DisplayItems">
      <button mat-flat-button class="quick-roll" (click)="PerformRoll('1d4')">
        <i class="df-d4-4 on"></i>
        <p>1d4</p>
      </button>
      <button mat-flat-button  class="quick-roll" (click)="PerformRoll('1d6')">
        <i class="df-d6-6 on"></i>
        <p>1d6</p>
      </button>
      <button mat-flat-button class="quick-roll" (click)="PerformRoll('1d8')">
        <i class="df-d8-8 off"></i>
        <p>1d8</p>
      </button>
      <button mat-flat-button class="quick-roll" (click)="PerformRoll('1d20')">
        <i class="df-d20-20 off"></i>
        <p>1d20</p>
      </button>
    </div>
    <button mat-flat-button class="contract-button" (click)="toggleContractDisplay()">
      <mat-icon *ngIf="DisplayItems">arrow_left</mat-icon>
      <mat-icon *ngIf="!DisplayItems">arrow_right</mat-icon>
    </button>
  </div>
</div>


