<div id="dynastra-select-user-character-modal">
  <div id="character-modal-loading" *ngIf="IsLoading">
    Loading
  </div>
  <div id="character-modal-content" *ngIf="!IsLoading">
    <h2 *ngIf="data.remove">Remove a character from this game</h2>
    <h2 *ngIf="!data.remove">Add a character to this game</h2>
    <h3 *ngIf="!HasNoCharactersToAdd && !data.remove">Click to select characters to add to this game</h3>
    <h3 *ngIf="HasNoCharactersToAdd && data.remove">Click to select characters to remove from this game</h3>
    <div id="dynastra-select-user-characters" *ngIf="!HasNoCharactersToAdd">
      <mat-selection-list #characterList>
        <mat-list-option *ngFor="let Character of DisplayCharacters" [value]="Character.Id">
          <img matListAvatar [src]="Character?.CharacterImgUrl" />
          <h3 matLine> {{Character?.CharacterName}} </h3>
          <p matLine class="character-about">
            <i>{{Character?.CharacterAbout}}</i>
          </p>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div id="character-modal-content-no-characters" *ngIf="HasNoCharactersToAdd">
      <h3>You don't have any more characters left to add to this campaign.</h3>
    </div>
    <button mat-flat-button color="primary" *ngIf="!HasNoCharactersToAdd && !data.remove" [disabled]="IsLoading" (click)="AddCharactersToGame()">Add to game</button>
    <button mat-flat-button color="primary" *ngIf="!HasNoCharactersToAdd && data.remove" [disabled]="IsLoading" (click)="RemoveCharactersFromGame()">Remove from game</button>
  </div>
</div>
