#dynastra-select-user-character-modal {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  gap: 1em;
  #dynastra-select-user-characters {
    overflow-y: scroll;
  }

  #character-modal-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  p.character-about {
    text-overflow: ellipsis;
    max-height: 2vh;
  }
}

.character-select-image {
  height: 1vh;
}
