<div id="dynastra-game-board-actions-tokens">
  <mat-expansion-panel id="tokens-panel" expanded="false">
    <mat-expansion-panel-header id="panel-header">
      <mat-panel-title id="panel-title">
        <mat-icon>stars</mat-icon>
        <div id="panel-title-text">Tokens</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div id="tokens-panel-content" matExpansionPanelContent>
      <app-game-board-actions-asset-item *ngFor="let Asset of Assets" [Asset]="Asset"></app-game-board-actions-asset-item>
    </div>
    <mat-action-row>
      <button id="game-board-actions-token-upload-button" mat-button color="secondary" (click)="OpenModal()">
        <mat-icon>upload</mat-icon> Upload
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
