<div id="dynastra-game-board-canvas">
    <ko-stage [config]="configStage" (dblclick)="OnStageDoubleTap($event)" id="dynastra-game-board-canvas" #gameBoard>
        <ko-layer id="dynastra-game-board-canvas-grid-layer" #gridLayer></ko-layer>
        <ko-layer id="dynastra-game-board-canvas-image-layer" #imageLayer>
            <ko-image [config]="configImages"></ko-image>
        </ko-layer>
    </ko-stage>
</div>
