<div class="dynastra-game-board-actions">
  <app-game-board-actions-tokens
    [Assets]="TokenAssets"
    [GameSessionId]="RolePlayingGameId"
  ></app-game-board-actions-tokens>
  <app-game-board-actions-map-objects
    [Assets]="ObjectAssets"
    [GameSessionId]="RolePlayingGameId"
    ></app-game-board-actions-map-objects>
  <app-game-board-actions-game-board-config></app-game-board-actions-game-board-config>
</div>
