<div id="dynastra-character">
  <div id="dynastra-character-loading" *ngIf="IsLoading">
    Loading
  </div>
  <div id="dynastra-character-main-content-wrapper" *ngIf="!IsLoading">
    <div id="dynastra-character-main-content-left">
        <div id="dynastra-character-avatar">
          <div id="dynastra-character-header-image">
            <img [src]="LoadedCharacter.CharacterImgUrl" />
          </div>
          <div id="dynastra-character-header-description">
            <span class="character-name">{{LoadedCharacter.CharacterName}}</span>
            <span class="character-type">Placeholder for type</span>
          </div>
        </div>
        <div>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>info</mat-icon>
              <div mat-line>About</div>
              <div mat-line>All about your character</div>
            </mat-list-item>
            <mat-list-item disabled>
              <mat-icon mat-list-icon>receipt_long</mat-icon>
              <div mat-line>Character Sheet</div>
              <div mat-line>Statistics for this character</div>
            </mat-list-item>
            <mat-list-item disabled>
              <mat-icon mat-list-icon>account_circle</mat-icon>
              <div mat-line>Inventory</div>
              <div mat-line>Things your character picked up along the way</div>
            </mat-list-item>
          </mat-list>
        </div>

      </div>

    <div id="dynastra-character-main-content-center">
      <div id="dynastra-character-header">
        <div id="dynastra-character-header-actions">
          <button id="edit-button" mat-stroked-button color="primary" *ngIf="DisplayType === 'VIEW_CHARACTER'" (click)="EditCharacter()">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button id="delete-button" mat-stroked-button color="warn" *ngIf="DisplayType === 'VIEW_CHARACTER'" (click)="ConfirmDeleteCharacter()">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
          <button id="save-button" mat-stroked-button color="primary" [disabled]="IsLoading || EditingForm.invalid" *ngIf="DisplayType === 'EDIT_CHARACTER'" (click)="SaveCharacter()">
            <mat-icon>save</mat-icon>
            Save
          </button>
          <button id="cancel-button" mat-stroked-button color="warn" *ngIf="DisplayType === 'EDIT_CHARACTER'" (click)="ReturnToView()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </div>
      <div id="edit" *ngIf="DisplayType === 'EDIT_CHARACTER'">
        <h2>Editing character</h2>
        <form [formGroup]="EditingForm" class="dynastra-character-edit-form">
          <mat-form-field appearance="fill">
            <mat-label>Character name</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="name?.errors?.['required'] && (name?.dirty || name?.touched)">This field is required</mat-error>
            <mat-error *ngIf="name?.errors?.['minlength']">The name must be at least 4 characters long</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Character name</mat-label>
            <textarea matInput formControlName="about"></textarea>
            <mat-error *ngIf="about?.errors?.['required'] && (about?.dirty || about?.touched)">This field is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Character name</mat-label>
            <input type="text" matInput formControlName="imageUrl">
            <mat-error *ngIf="imageUrl?.errors?.['required'] && (imageUrl?.dirty || imageUrl?.touched)">This field is required</mat-error>
            <mat-error *ngIf="imageUrl?.errors?.['pattern']">The image provided isn't a URL.</mat-error>
          </mat-form-field>
        </form>
      </div>
      <div id="view" *ngIf="DisplayType === 'VIEW_CHARACTER'">
        <div id="about">
          <h2>About this character</h2>
          {{LoadedCharacter.CharacterAbout}}
        </div>
      </div>
    </div>


</div>
