#dynastra-character-create {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.5vw;
  padding-right: 1.5vw;
  min-height: 120vh;
  padding-left: 1.3em;

  h1 {
    font-size: 4vh;
  }

  #dynastra-character-main-content-wrapper {
    #dynastra-character-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      #dynastra-character-header-actions {
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
    }

    display: flex;
    justify-content: space-between;
    min-height: 90vh;
    #dynastra-character-main-content-left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.5em;
      border-right: 1px #dddddd solid;

      #dynastra-character-avatar {
        padding: 1em;
        display: flex;
        flex-direction: column;
        border-radius: 0.5em;
        max-width: 15vw;
        gap: 1em;

        #dynastra-character-header-image {
          max-width: 15vw;
          max-height: 25vh;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 0.5em;
          }
        }

        #dynastra-character-header-description {
          display: flex;
          flex-direction: column;
          gap: 0.2em;

          span.character-name {
            font-size: 2vh;
            font-weight: bold;
            text-transform: uppercase;
          }

          span.character-type {
            font-size: 2vh;
          }
        }
      }

      #dynastra-character-header-overview {
        display: flex;
        flex-direction: column;
        margin-top: 4.5vh;
        gap: 0.5em;
      }
    }
    #dynastra-character-main-content-center {
      width: 80%;
      display: flex;
      flex-direction: column;

      #about {
        height: 45vh;
        display: flex;
        flex-direction: column;
        padding: 2em;
        gap: 1em;
        border-radius: 0.5em;
      }
    }
  }

  #dynastra-character-header {
    display: flex;
    gap: 1em;
  }
}

.dynastra-character-edit-form {
  display: flex;
  flex-direction: column;
}
