#dynastra-role-playing-game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.5vw;
  padding-right: 1.5vw;
  min-height: 120vh;
  padding-left: 1.3em;

  #dynastra-role-playing-game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow: 1px 3px 2px rgba(172,164,164,0.6);

    #header-left {
      #header-upper {
        display: flex;
        flex-direction: row;
        gap: 1em;
        h1.dynastra-heading {
          font-size: 4vh;
          span {
            font-weight: bolder;
          }
        }
      }
    }



    #header-lower {
      display: flex;
      flex-direction: column;
      gap: 1em;

      #created-by {
        display: flex;
        flex-direction: row;
        gap: 1em;

        #created-by-text {
          padding-top: 0.2em;
        }

        #created-by-user {
          display: flex;
          flex-direction: row;
          gap: 0.2em;

          p {
            padding-left: 0.5em;
            padding-top: 0.2em;
          }
        }
      }
    }
  }
  #dynastra-role-playing-game-contents {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    justify-content: space-between;
    gap: 1em;
    #left-content {
      flex: 2;

      #content {
        display: flex;
        flex-direction: column;
        .image-wrapper {
          max-height: 40vh;
          overflow: hidden;
          margin-bottom: 2em;
          width: 100%;
          img {
            object-fit: cover;
            object-position: bottom;
            width: 100%;
          }
        }
        .description {
          flex: 2;
          max-width: 50vw;
          overflow: hidden;
        }
      }
    }

    #right-content {
      flex: 1;
    }
  }
}

#dynastra-role-playing-game-about {
  #actions {
    display: flex;
    justify-content: space-between;
  }

  #content {
    img {
      padding-right: 2em;
    }

    display: flex;
    flex-direction: row;
    padding-top: 1vh;
  }
}
