<div id="dynastra-role-playing-game">
  <div id="dynastra-role-playing-game-loading" *ngIf="IsLoading">
    Loading
  </div>
  <div id="dynastra-role-playing-game-header" *ngIf="!IsLoading">
    <div id="header-left">
      <div id="header-upper">
        <h1 class="dynastra-heading"><i class="ra ra-fairy-wand"></i></h1>
        <h1 class="dynastra-heading">
          Game: {{Game?.Name}}
        </h1>
        <div>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>Role-playing game</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div id="header-lower">
        <div id="created-by">
          <div id="created-by-text">Created By</div>
          <div id="created-by-user">
            <mat-icon aria-hidden="false" aria-label="Created by user">person</mat-icon>
            <p>{{Game?.CreatedByUser}}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="header-right">
      <button mat-raised-button color="primary" [routerLink]="['/game-board', this.GameId, '2D']">Join game</button>
    </div>
  </div>
  <div id="dynastra-role-playing-game-contents">
    <div id="left-content">
      <mat-card id="dynastra-role-playing-game-about">
        <mat-card-title id="actions">
          <div id="title-left">About this game</div>
          <div id="title-actions"></div>
        </mat-card-title>
        <mat-card-subtitle>Some more information about what this game is about</mat-card-subtitle>
        <mat-card-content id="content">
            <div class="image-wrapper">
              <img [src]="Game?.ImageUrl" />
            </div>
            <div class="description">
              {{Game?.Description}}
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div id="right-content">
      <app-role-playing-game-characters #charactersComponent
        [GameId]="GameId"
        (ShouldSelectCharacters)="selectCharacters(false)"
        (ShouldSelectRemoveCharacters)="selectCharacters(true)"
      ></app-role-playing-game-characters>
    </div>
  </div>
</div>
