<div id="dynastra-role-playing-game-characters">
  <div id="loading" *ngIf="IsLoading">
    Loading
  </div>
  <mat-card id="dynastra-role-playing-game-characters-content" *ngIf="!IsLoading">
    <mat-card-header id="header">
      <mat-card-title id="title">
        Characters
      </mat-card-title>
      <mat-card-subtitle>
        Who's playing this game?
      </mat-card-subtitle>
      <div id="header-actions">
        <button mat-flat-button (click)="addCharacter()">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-flat-button (click)="removeCharacter()">
          <mat-icon>person_remove</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content id="content">
      <div id="content-container" *ngIf="HasCharactersInGame">
        <app-role-playing-game-character
          *ngFor="let Character of Characters"
          [Character]="Character">
        </app-role-playing-game-character>
      </div>
      <app-component-status-display
        *ngIf="!HasCharactersInGame"
        ImageURL="assets/roleplayingicons/unicorn-sad.png"
        StatusDisplayText="There aren't any characters in this game"
        ActionButtonText="Wanna add one?"
        (OnActionClicked)="addCharacter()"
      >
      </app-component-status-display>
    </mat-card-content>
  </mat-card>
</div>
