#dynastra-role-playing-game-characters {
  #dynastra-role-playing-game-characters-content {
    display: flex;
    flex-direction: column;

    #header {
      display: flex;
      justify-content: space-between;
    }

    min-height: 50vh;
    max-height: 50vh;

    #content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    #content-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1em;
    }

    #content-no-characters {
      padding-top: 18%;
      padding-left: 28%;

      .element-cute-icons {
        padding-left: 7.5vh;
        width: 13vh;
        height: 13vh;
        padding-bottom: 1em;
      }

      p {
        font-style: italic;
      }
    }

  }
}
