.dynastra-dialog {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
  }

  .dynastra-dialog-form {

  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
.dynastra-dialog-form {
  padding-top: 1em;
  padding-bottom: 1em;
}

mat-form-field {
  width: 100%;
}
