<div class="dynastra-dialog">
  <div class="title" mat-dialog-title>
    <h1>{{Title}}</h1>
  </div>
  <div class="content" mat-dialog-content>
    <div class="description">
      {{Description}}
    </div>

    <div *ngIf="TypeToConfirm" class="dynastra-dialog-form">
      <form [formGroup]="TypeToConfirmForm">
        <mat-form-field class="dynastra-dialog-confirm-field" appearance="fill">
          <mat-label>To confirm, type <b>{{TypeRequiredForConfirm}}</b></mat-label>
          <input id="confirm-dialog" matInput formControlName="typeValue" />
        </mat-form-field>
      </form>
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-flat-button [matDialogClose]="false">{{CancelText}}</button>
    <button mat-flat-button color="warn" [disabled]="IsFormDisabled" [matDialogClose]="true">{{ConfirmText}}</button>
  </div>
</div>
