<mat-card class="game-board-chat-item">
  <mat-card-header>
    <mat-card-title>{{ChatEvent.sender}}</mat-card-title>
    <mat-card-subtitle>{{ChatEvent.timestamp | date:'medium'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [ngClass]="ChatClasses">
    <div>
      {{ChatEvent.messageBody}}
    </div>
  </mat-card-content>
  <mat-card-actions class="game-board-chat-item-actions">
    <button mat-stroked-button *ngFor="let emojiItem of ChatEvent.emojiReactions">
      {{emojiItem.targetEmoji}} {{emojiItem.userNames.length}}
    </button>
  </mat-card-actions>
</mat-card>
