.game-board-chat-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 0.8em;
  width: 94%;
  margin-bottom: 2em;
  background-color: #eeeeee;

  .chat-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .from {
      font-weight: bold;
    }
  }

  .game-board-chat-item-body-normal {
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
    justify-content: center;
  }

  .game-board-chat-item-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
  }

  .game-board-chat-item-emoji-only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 8vh;
    line-height: 10vh;
  }

}
