<div class="dynastra-snack-bar">
  <div class="dynastra-snack-bar-header">
    <mat-icon>
      {{icon}}
    </mat-icon>
    <div class="header-text">
      {{header}}
    </div>
  </div>
  <div class="dynastra-snack-bar-contents">{{message}}</div>
</div>
