.dynastra-snack-bar {
  display: flex;
  flex-direction: column;
  gap: 3em;

  .dynastra-snack-bar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
  }
}
