<div class="dynastra-role-playing-games-list-display-item-display">
  <div class="dynastra-role-playing-games-list-display-image">
    <img [src]="RolePlayingGame.ImageUrl" [alt]="RolePlayingGame.Description">
  </div>
  <div class="dynastra-role-playing-games-list-display-description">
    <p>{{RolePlayingGame.Description}}</p>
  </div>
  <div class="dynastra-role-playing-games-list-display-summary">
    <div class="summary-item">
      <mat-icon [matBadge]="NumberOfCharacters" matBadgeColor="warn">
        <i class="ra ra-player-pyromaniac"></i>
      </mat-icon>
      <p>Characters</p>
    </div>
    <div class="summary-item">
      <mat-icon [matBadge]="NumberOfUsers" matBadgeColor="warn">
        <i class="ra ra-gamepad-cross"></i>
      </mat-icon>
      <p>Players</p>
    </div>
  </div>
</div>
