.dynastra-role-playing-games-list-display-item-display {
  display: flex;
  flex-direction: column;
  gap: 2em;
  object-fit: cover;

  .dynastra-role-playing-games-list-display-image {
    height: 30vh;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .dynastra-role-playing-games-list-display-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    gap: 2em;

    .summary-item {
      display: flex;
      justify-content: flex-end;
      gap: 2em;
    }
  }

  .dynastra-role-playing-games-list-display-description {
    max-height: 4vh;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
}


