.dynastra-loading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  padding-top: 2em;
  padding-left: 35%;

  .spinner {
    flex-grow: 3;
  }
}
