<div class="dynastra-board-snackbar-result">
  <div class="title">
    <h2>{{ActionResult.gameActionResult.title}}</h2>
    <h3>{{ActionResult.gameActionResult.subTitle}}</h3>
  </div>
  <div class="content">
    <div class="image">
      <i *ngFor="let result of RollResults" [class]="result.diceValueClassName"></i>
    </div>
    <div class="result">
      {{ ActionResult.gameActionResult.humanReadableRollResult }}
    </div>
  </div>
</div>
