.dynastra-board-snackbar-result {
  display: flex;
  flex-direction: column;
  min-height: 6vh;
  gap: 1em;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .image {
      max-width: 10vw;
      overflow-x: hidden;
      display: flex;
      flex-direction: row;

      i {
        font-size: 3em;
      }
    }

    .result {
      padding-top: 0.4em;
      font-size: 2em;
    }
  }
}
