#dynastra-game-board-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 80vh;
  max-width: 25vw;

  #dynastra-game-board-chat-log {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    overflow-y: scroll;
  }

  #dynastra-game-board-chat-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    #dynastra-game-board-chat-typing {
      text-align: right;
      font-style: italic;
      padding: 1em;
    }

    #dynastra-game-board-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 4;
      }
      button {
        padding-top: 0.5em;
      }

    }

    #dynastra-game-board-chat-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  #board-chat-panel {
    height: 100%;
  }
}

#panel-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #f3dadd;
  display: flex;
  justify-content: flex-start;

  div#panel-title-text {
    padding-left: 1em;
    padding-top: 0.1em;
  }
}
