<div id="dynastra-game-board-chat">
    <div *ngIf="IsChatHistoryLoading" id="dynastra-game-board-chat-loading">
      <app-loading [Context]="'Loading game chat..'"></app-loading>
    </div>
    <div id="dynastra-game-board-chat-log" #gameBoardChatLog>
      <app-game-board-chat-item
          *ngFor="let ChatEvent of ChatHistory"
          [ChatEvent]="ChatEvent"
      ></app-game-board-chat-item>
    </div>
    <div id="dynastra-game-board-chat-footer">
      <div id="dynastra-game-board-input">
        <form [formGroup]="ChatForm" (ngSubmit)="SendMessage()">
          <mat-form-field appearance="fill">
            <mat-label>Start talking</mat-label>
            <input matInput id="dynastra-game-board-input-chat-text" type="text" formControlName="chatText">
          </mat-form-field>
        </form>
        <button id="game-board-chat-toggle-emoji-button" (click)="ToggleEmojiBoard()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>emoji_emotions</mat-icon>
        </button>
      </div>
      <div id="dynastra-game-board-chat-emojis" *ngIf="displayingEmojiBoard">
        <emoji-mart (emojiSelect)="OnEmojiSelected($event)" [isNative]="true" title="Pick your emoji…" emoji="point_up"></emoji-mart>
      </div>
    </div>
</div>
