#game-board-chat-emojis {
  padding: 0.2em;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4em;
  max-width: 26vw;

  .emoji-display {
    font-size: 2em;
  }
}
