.dynastra-role-playing-game-character {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .game-character-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    a {
      font-weight: bold;
      text-decoration: none;
      color: #000000;
    }
  }

  .game-character-wrapper {
    .image-wrapper {
      display: flex;
      flex-direction: row;
      img.game-character {
        width: 6vw;
        clip-path: circle(50% at 50% 50%);
      }
    }
  }
}
