<div class="dynastra-role-playing-game-character">
  <div class="game-character-wrapper">
    <div class="image-wrapper">
      <a [routerLink]="['/characters',Character.Id]">
        <img class="game-character" [src]="Character?.CharacterImgUrl" />
      </a>
    </div>
  </div>
  <div class="game-character-footer">
      <a [routerLink]="['/characters',Character.Id]">{{Character.CharacterName}}</a>
  </div>
</div>
