/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-drawer-content {
  overflow: visible !important;
}
.mat-expansion-panel {
  height: 100% !important;
}
.mat-tab-body {
  height: 100% !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
.emoji-mart {
  width: 26vw !important;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import './node_modules/rpg-awesome/scss/rpg-awesome';
@import '~@ctrl/ngx-emoji-mart/picker';
