#dynastra-game-board-roll-log {
  padding: 1em;
  min-height: 25vh;

  #roll-log-panel {
    display: flex;
    flex-direction: column;
    background-color: #C21F39;
    font-size: 3em;

    #roll-log-content {
      max-height: 35vh;
      overflow-y: scroll;
      padding-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #ffffff;
    }

    #roll-log-panel {
      height: 100%;
    }
  }
}

#panel-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #f3dadd;
  display: flex;
  justify-content: flex-start;

  div#panel-title-text {
    padding-left: 1em;
    padding-top: 0.1em;
  }
}
