<div id="dynastra-game-board-roll-log">
  <mat-expansion-panel id="roll-log-panel" expanded="true">
    <mat-expansion-panel-header id="panel-header">
      <mat-panel-title id="panel-title">
        <mat-icon>casino</mat-icon>
        <div id="panel-title-text">Dice roll log</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div id="roll-log-content" matExpansionPanelContent>
      <app-dice-roll *ngFor="let result of RollHistory" [RollResult]="result"></app-dice-roll>
    </div>
  </mat-expansion-panel>
</div>
