#dynastra-game-board-overlay {
  mat-drawer-content {
    padding-right: 0px !important;
    overflow: scroll;
  }

  .dynastra-game-board-collapsed-menu {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .collapse-icon {
      height: 8vh;
    }
  }

  display: flex;
  flex-direction: row;

  div#drawer-inner {
    display: flex;
    justify-content: flex-start;

    div#drawer-header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    button#left-button {
      width: 1em;
      height: 2em;
    }
  }
}

#dynastra-game-board-container {
  #collapse-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #dynastra-game-board-overlay-bottom {
    z-index: 99;
    position: absolute;
    bottom: 0%;
    left: 0%;
    min-height: 10vh;
    max-height: 10vh;
    background-color: transparent;
  }
}

#drawer-content {
  padding-top: 0.5em;
  height: 100vh;
  overflow-y: scroll;
}
