<div id="dynastra-game-board-container">
  <div id="collapse-container">
    <mat-drawer-container id="dynastra-game-board">
      <div id="dynastra-game-board-full-size">
        <router-outlet></router-outlet>
      </div>

      <mat-drawer #drawer mode="side" id="dynastra-game-board-overlay" style="padding-right: 0px;" opened="true" position="end">
        <div id="drawer-inner">
          <div id="drawer-header">
            <button mat-flat-button (click)="toggleDrawer()">
              <mat-icon>menu</mat-icon>
            </button>
            <div class="dynastra-game-board-collapsed-menu" *ngIf="!displayDrawer">
              <button mat-flat-button class="collapse-icon">
                <i class="ra ra-perspective-dice-one ra-lg"></i>
              </button>
              <button mat-flat-button class="collapse-icon" (click)="toggleDrawer()">
                <mat-icon [matBadge]="UnreadChats" [matBadgeHidden]="UnreadChats === 0" matBadgePosition="before" matBadgeOverlap="true">chat</mat-icon>
              </button>
              <button mat-flat-button class="collapse-icon">
                <i class="ra ra-wyvern ra-lg"></i>
              </button>
            </div>
          </div>
          <div id="drawer-container" *ngIf="displayDrawer">
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="ra ra-perspective-dice-one ra-lg"></i>&nbsp; Game
                </ng-template>
                <div id="drawer-content">
                  <app-game-board-roll-log [RollHistory]="RollHistory"></app-game-board-roll-log>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>chat</mat-icon> &nbsp; Chat
                </ng-template>
                <div id="drawer-content">
                  <app-game-board-chat
                    [IsChatHistoryLoading]="IsChatHistoryLoading"
                    [ChatHistory]="GameBoardChatHistory"
                    (OnChatMessageSent)="OnChatMessageSent($event)"
                  ></app-game-board-chat>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="ra ra-wyvern ra-lg"></i>&nbsp; Manage
                </ng-template>
                <div id="drawer-content">
                  <app-game-board-actions [RolePlayingGameId]="GameSessionId"></app-game-board-actions>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <div id="dynastra-game-board-overlay-bottom">
    <app-game-board-quick-roll [GameSessionId]="GameSessionId"></app-game-board-quick-roll>
  </div>
</div>
